* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

#scroll-space {
    height: 300vh; /* This creates a scrollable area 3 times the height of the viewport */
}

h1 {
    text-align: center;
    padding: 20px;
}

p {
 padding: 10px;
}
#space-control {
    text-align: center;
    margin-top: 20px;
    height: 100vh;
    background-color:rgb(215, 235, 250)
}

.centering-div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 1400px;
    text-align: center;
    display:flex;
    justify-content: center;
    /* align-items: center; */

    padding: 10px;
        
}

#animation-container {
    width: 600px;
    height: 600px;
    position: sticky;
    background-color: #f0f0f0;
    margin-left: 20px; /* Left alignment with some margin */
    /* margin-top: 150vh; Start off further down to require scrolling */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow effect */
    overflow: hidden;
}





.text-container {
    display: flex;
    width: 600px;
    flex-direction: column;
    overflow-y: auto;
    text-align: center;
    text-align: left;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 400px;;
}

.stage-paragraph {
    margin-bottom: 400px;
    margin-top: 400px;
}